.cardchg{
    max-width: 45.666667% !important;
}

.elementspace{
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}