
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card cardchg">
                  <div class="card-header card-header-danger">
                      <h2 class="card-title">Login</h2>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
                          <div class="container-fluid">
                                <div class="row pull-center">
                                    <div class="col-md-12 elementspace">
                                        <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="username" placeholder="User Name" type="text" formControlName="username">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                      <div class="col-md-12">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Password" type="text" formControlName="password">
                                          </mat-form-field>
                                    </div>
                                </div>                                             
                                <button mat-raised-button type="submit" class="btn btn-danger elementspace">Signin</button>
                                <button mat-raised-button (click)="registerUser()" class="btn btn-danger pull-right elementspace">Register</button>
                          </div>                        
                      </form>
                  </div>
              </div>
          </div>         
      </div>
  </div>
</div>